
<div id="footer" class="no-print">
    <footer class="footer-16371">
        <div class="container">
          <div class="">
            <div class="text-center">
              <ul class="list_footer">
                <li><a href="#">A propos</a></li>
                <li><a href="#">Mentions Légales</a></li>
                <li><a href="#">FAQ</a></li>
                <li  ><a (click)="navigateTo('contact')">Contact</a></li>
              </ul>
              <div class="copyright print">
                <p class="mb-0"><small>&copy; {{ currentYear }} - BGS-ASSOCIES, Tous droits réservés</small></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
</div>
